*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p{
    line-height: 0.80;
}


/*============================= nav bar css goes here =====================*/

.navbar{
    margin-top: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
}

.master{
    color: #353535!important;
    background-color: rgb(255, 255, 255);
}

.shape{
    background: #323232;
    padding: 10px 30px;
    display: inline-block;
    position: absolute;
    left: 20%;
    top: -5px;
    -moz-transform: skew(45deg);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding: 0 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #f1f1f1;
    line-height: 50px;
    transition: all linear .3s;
    position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link::after{
    position: absolute;
    content:'';
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    background-color: #e23e38;
    opacity: 0;
    transition: all linear .3s;
}
.navbar-expand-lg .navbar-nav .nav-link:hover::after{
    opacity: 1;
    width: 50%;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: #222222;
    background-color: #ffffff;
}


/*============================= banner css goes here =====================*/

.banner-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 255px;
    padding-bottom: 350px;
    position: relative;
}

.banner-hover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.60);
}

.banner-shape{
    position: absolute;
    top: 50%;
    left: 35.3%;
}
.banner-text{
    text-align: center;
    position: absolute;
    top: -30px;
    left: 50px;
}

.banner-text h3{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 30px;
}

.banner-text h1{
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    color: #e23e38;
    padding-bottom: 30px;
}

.banner-text p{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #dddddd;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.banner-btn a{
    padding: 10px 20px;
    border: 1px solid #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 10px;
    transition: all linear .3s;
}

.banner-btn a:hover{
    background-color: #e23e38;
    border: 0;
}



.banner-second{
    position: absolute;
    top: 30%;
    left: 10%;
}

#banner .slick-dots{
    position: absolute;
    left: 98%;
    bottom: 15px;
    transform: translateX(-50%);
}

#banner .slick-dots li{
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #ffffff;
    display: inline-block;
    margin: 0 5px;
}

#banner .slick-dots li.slick-active{
    border: 0;
    background-color: #e23e38;
}

#banner .slick-dots li button{
    color: transparent;
    background-color: transparent;
    border: 0;
}


/*============================= about css goes here =====================*/

#about{
    padding-top: 80px;
    padding-bottom: 80px;
}

.about-img{
    position: relative;
}

.about-over{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.60);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-over i{
    font-size: 23px;
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    text-align: center;
    line-height: 48px;
    border-radius: 50%;
    transition: all linear .3s;
}

.about-item:hover .about-over i{
    background-color: #e23e38;
}

.comm-head{
    padding-bottom: 20px;
}
.comm-head h1{
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    font-weight: 200;
    text-transform: uppercase;
    color: #222222;
}

.about-text p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #444444;
    text-align: center;
    padding: 0 55px;
}
.about-text h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #444444;
    text-align: center;
    padding: 0 55px;
}

/*============================= gallery css goes here =====================*/

#gallery{
    padding-bottom: 200px;
}

.gallery-banner{
    background: url(../images/gallery-banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
    position: relative;
}

.gallery-over{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000063;
}

.gal-item{
    margin-top: 30px;
}

.gal-img{
    position: relative;
}

.gal-img-over{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(171, 90, 79,0.50);
    border: 5px solid #bab7ae;
    opacity: 0;
    transition: all linear .3s;
    transform: scale(0);
}

.gal-item:hover .gal-img-over{
    opacity: 1;
    transform: scale(0.9);
}

.gal-img-over i{
    font-size: 30px;
    color: #ffffff;
}

/*============================= Our team css goes here =====================*/

#team{
      padding-bottom: 80px;
}

.team-part{
    padding-top: 30px;
}

.team-text{
   padding: 20px;
}

.team-item:hover .team-text{
    border: 1px solid #f1f1f1;
}
.team-text h3{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
}
.team-text p{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    color: #444444;
}

.team-img{
    position: relative;
}

.team-over{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(224, 141, 138,0.50);
    border: 5px solid #eeeeee;
    display: flex;
    opacity: 0;
    transition: all linear .3s;
}

.team-item:hover .team-over{
    opacity: 1;
    transform: scale(0.9);
}

.team-item:hover .fa-twitter{
    background-color: #ffffff;
    color: #1da0f2;
}

.team-social i{
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    border: 1px solid #ffffff;
    text-align: center;
    color: #ffffff;
    margin: 10px 0;
    transition: all linear .3s;
}

.team-social{
    position: absolute;
    top: 30%;
    right: 20px;
}

.team-text h6{
    line-height: 18px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #444444;
    opacity: 0;
    transition: all linear .3s;
}

.team-item:hover .team-text h6{
    opacity: 1;
}


/*============================= Testimonial team css goes here =====================*/

#testimonial{
    padding-bottom: 20px;
}

.test-banner{
    background: url(../images/test-banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top:300px;
    padding-bottom:20px;
    position: relative;
}

.test-over{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.80);
}

.test-text h2{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}
.test-text h3{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

.test-item{
    padding-top: 30px;
}

.test-item p{
    line-height: 18px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #dddddd;
    padding-top: 10px;
}

.fa-star{
    color: #e23e38;
}

#testimonial .slick-dots{
    position: absolute;
    left: 98%;
    bottom: -60px;
    transform: translateX(-50%);
}

#testimonial .slick-dots li{
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #ffffff;
    display: inline-block;
    margin: 0 5px;
}

#testimonial .slick-dots li.slick-active{
    border: 0;
    background-color: #e23e38;
}

#testimonial .slick-dots li button{
    color: transparent;
    background-color: transparent;
    border: 0;
}

/*============================= Membership team css goes here =====================*/

#member{
    padding-top: 80px;
    padding-bottom: 80px;
}

.member-item{
padding-top: 30px;
}

.mem-item-one{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #dddddd;
    transition: all linear .3s;
}

.mem-item-one h2{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #222222;
    transition: all linear .3s;
}

.mem-item-two{
    position: relative;
}

.member-over{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.8);
}

.mem-two-text h1{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: #ffffff;
}

.mem-two-text span{
    font-family: 'Oswald', sans-serif;
    font-size: 29px;
    font-weight: 500;
    color: #ffffff;
}

.mem-item-three {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f1f1f1;
}

.mem-item-three h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #444444;
    padding-bottom: 20px;
}

.mem-item-three h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #444444;
    padding-bottom: 20px;
}

.mem-item-three h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #444444;
    padding-bottom: 20px;
}

.mem-item-three h6{
    font-size: 16px;
    font-weight: 400;
    color: #444444;
    padding-bottom: 20px;
}

.mem-item-three span{
    font-size: 16px;
    font-weight: 400;
    color: #444444;
}

.mem-item-four{
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #dddddd;
    line-height: 10px;
}

.mem-item-four h1{
    font-family: 'Oswald', sans-serif;
    font-size:16px;
    font-weight: 400;
    color: #222222;
    text-transform: uppercase;
    transition: all linear .3s;
}

.member-item:hover .mem-item-one{
    background-color: #e23e38;
}

.member-item:hover .mem-item-one h2{
    color: #ffffff;
}

.member-item:hover .mem-item-four{
    background-color: #e23e38;
}

.member-item:hover .mem-item-four h1{
    color: #ffffff;
}

/*============================= Counter css goes here =====================*/


.counter-banner{
    padding-top: 50px;
    padding-bottom: 50px;
    background: url(../images/counter-banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.counter-over{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.9);
}

.counter-item h1{
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.counter-item{
    padding-top: 24px;
    text-align: center;
}

.counter-item p{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight:400;
    text-transform: capitalize;
    color: #ffffff;
}

/*============================= Classes css goes here =====================*/

#classes{
    padding-top: 80px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #222222;
	background-color:transparent
}

.class-item{
    background-color: #f1f1f1;
    margin-bottom: 24px;
    transition: all linear .3s;
}

.class-item:hover{
    background-color: #e23e38;
}

.class-item:hover p{
    color: #ffffff;
}
.class-item:hover h5{
    color: #ffffff;
}

.class-item p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #222222;
    transition: all linear .3s;
    padding-top: 35px;
}

.class-item h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #222222;
    padding-top: 10px;
    padding-bottom: 35px;
    transition: all linear .3s;
    
}

.nav-pills .nav-link {
	background: 0 0;
	border: 0;
	border-radius: .25rem;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight:400;
    text-transform: uppercase;
    padding: 20px 75px;
    background-color: #f1f1f1;
    transition: all linear .3s;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #ffffff;
	background-color: transparent;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight:400;
    text-transform: uppercase;
    padding: 20px 75px;
    background-color: #e23e38;
    transition: all linear .3s;
}

/*============================= logoss css goes here =====================*/

